body {
  font-family: sans-serif;
  /* background: url(../../../assets/img/signs.jpg) no-repeat; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.searchbar {
  /* background-color: #4ee44e; */
  background: url(../../../assets/img/signs.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  /* background-attachment: fixed; */
  
  padding-top: 20%;
  /* position:-webkit-sticky;
  position:sticky;  */
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  padding-bottom: 20px;
  top: 0%;
  width: 100%;
}
@media (min-width: 768px) {
  .searchbar {
    /* background-color: #4ee44e; */
    background: url(../../../assets/img/signs.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    /* background-attachment: fixed; */
    
    padding-top: 5%;
    /* position:-webkit-sticky;
    position:sticky;  */
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    padding-bottom: 20px;
    top: 0%;
    width: 100%;
  }
}
.searchbar button {
  margin: 10px;
  padding: 3px;
}
@media (min-width: 768px){
  .searchbar button {
    margin: 10px;
    padding: 3px;
  }
}
.results {
  width: 100%;
  min-width: 100%;
  margin-top: 190px;
}
@media (min-width: 850px){
  .results {
    width: 100%;
    min-width: 100%;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
  }
}
.collection {
  width: 100%;
  min-width: 100%;
  margin-top: 190px;
}
@media (min-width: 850px){
  .collection {
    width: 100%;
    min-width: 100%;
    margin-top: 70px;
  }
}

.noResultFirst{  
  font-size: 18sp;
  font-family: sans-serif;
  color: #525252;
  padding-left: 34%;
}
@media (min-width: 850px){
  .noResultFirst{  
    font-size: 24px;
    font-family: sans-serif;
    color: #525252;
    padding-left: 43%;
  } 
}
.noResultSecond{  
  font-size: 18sp;
  font-family: sans-serif;
  color: #525252;
  padding-left: 31%;
}
@media (min-width: 850px){
  .noResultSecond{  
    font-size: 24px;
    font-family: sans-serif;
    color: #525252;
    padding-left: 42%;
  } 
}
.messageFirst {
font-size: 18sp;
font-family: sans-serif;
color: #525252;
padding-left: 31%;
}

.messageSecond {
  font-size: 18sp;
  font-family: sans-serif;
  color: #525252;
  padding-left: 28%;
}
@media (min-width: 850px){
  .messageFirst {
      font-size: 24px;
      font-family: sans-serif;
      color: #525252;
      padding-top: 10%;
      padding-left: 43%;
    }
}
@media (min-width: 850px){
  .messageSecond {
    font-size: 24px;
    font-family: sans-serif;
    color: #525252;
    padding-left: 42%;
  } 
}
.iconMessage{
  max-height: 33%;
  max-width: 33%;
  padding-top: 25px;
}
@media (min-width: 850px){
  .iconMessage{
    max-height: 15%;
    max-width: 15%;
  } 
}
.FavoritesResult{
  width: 100%;
  min-width: 100%;
  margin-top: 200px;
}
@media (min-width: 768px) {
.FavoritesResult{
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  min-width: 100%;
  margin-top: 12.5%;
}
}
.results-test {
  height: 100%;
  padding-top: 30%;
}
@media (min-width: 768px) {
  .results-test {
    height: 100%;
    padding-top: 1%;
  }
}








.filterLeft{
  border-radius: 4px;
  margin-left: 3%;
}

@media (min-width: 900px) {
  .filterLeft{
    border-radius: 4px;
    margin-left: 34%;
  }
}
.filterRight{
  border-radius: 4px;
  margin-left: 10px;
}

@media (min-width: 900px) {
  .filterRight{
    border-radius: 4px;
    margin-left: 10px;
  }
}