body {
    font-family: sans-serif;
    /* background: url(../../../assets/img/signs.jpg) no-repeat; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

.searchbar {
    /* background-color: #4ee44e; */
    background: url(../../../assets/img/signs.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    /* background-attachment: fixed; */
    
    padding-top: 20%;
    /* position:-webkit-sticky;
    position:sticky;  */
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    padding-bottom: 20px;
    top: 0%;
    width: 100%;
}
.searchbar button {
    margin: 10px;
    padding: 3px;
}

.results {
    width: 100%;
    min-width: 100%;
    margin-top: 190px;
}

.message {
  font-size: 18sp;
  font-family: sans-serif;
  color: #525252;
}

.FavoritesResult{
    width: 100%;
    min-width: 100%;
    margin-top: 200px;
  }