

.field span {
    color: #222;
    width: 10px;
    line-height: 200px;
    margin-left: 15px;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 5px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}