.searchbar {
    background-color: #4ee44e;
    padding-top: 30px;
    /* position:-webkit-sticky;
    position:sticky;  */
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0%;
    width: 100%;
}

.searchbar button {
    margin: 10px;
    padding: 3px;
}

.results {
    width: 100%;
    margin-top: 190px;
  }