html{
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: url(assets/img/signs.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      float:none;
      margin:0 auto;
      text-align: center ;
      font-size: larger;
      font-family: Arial, Helvetica, sans-serif;
  }

  .navbar .navbar-collapse {
    vertical-align: center;
    text-align: center;
    display: inline-block;
  }
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}


input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

